/*
                                                  Contact     Page                    */

/* .navbar{
    height: 12vh;
} */

.navbar-default{
    background-image: none;
    box-shadow: none;
    border-color: white;
    background-color: white;
}
#contact{
    height: 58.7vh;
}

#contact::before {
    background-image: url(../img/JLD_9888.jpg);
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 68.7vh;
    opacity: 0.1;
    -webkit-box-shadow: 0px 14px 12px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 12px -5px rgba(0,0,0,0.75);
    -o-box-shadow: 0px 14px 12px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 12px -5px rgba(0,0,0,0.75);
}

.form-control:focus{
    border-color : #0d8642;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #0d8642;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #0d8642;
}

#mensaje{
    height: 112px;
}
#submit{
    background   : #0d8642;
    color        : #ffffff;;
    border-radius: 0px ;
    padding-left: 30px;
    padding-right: 30px;
}

.form-control{
    border-color: #8c8f92;
    background-color: transparent;
}

#asunto{
    position: relative;
    right: 3.40%;
}

#correo{
 margin-right: 12.50%;
}

.title{
    margin-top: 10%;
}

.grid-container {
    display: grid;
    justify-content: space-evenly;
    /*grid-template-columns: 10% 30% 10% 30%;*/
    grid-template-columns:6% 29% 6% 29%;
    grid-template-rows:30% 30% 30%;
    grid-gap: 10px;
    /*padding: 10px;*/
    padding: 0px 15%;
    position: relative;
    top: 10vh;
    
}

.grid-container > div {
    text-align: center;
}

.title-label{
    font-size: 20px;
    font-weight: normal;
}

.button {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
}

.menssage{
    grid-column-start: 2;
    grid-column-end: 5;
}
  
.button>button{
float:right;
padding:12.5px 12.5px 12.5px 12.5px;
}

footer{
    padding-top: 0px;
}


/*                                                  RESPONSIVE */
                                                    /*Phone*/

@media only screen and (min-width:360px) and (max-width:700px){
    #contact {
        margin-top: 8vh;
        height: 80.7vh;
    }
    
    #contact::before{
        height: 97.7vh;
    }

    .grid-container {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: 26% 60%;
        grid-template-rows:20% 20% 20% 20% 20% 10%;
        grid-gap: 10px;
        padding: 0px; 
        position: relative;
        top: 10vh;
        margin: 0px 7% 0px 7%;
    }

    .grid-container > div {
        text-align: center;
    }

    .button {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
    }
    
    .menssage{
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .navbar-default .navbar-collapse{
        background-color: white;
        position: relative;
        z-index: 2;
    }

    .navbar-brand{
        z-index: 3;
    }

    .title {
        margin-top: 30%;
    }

    .form-horizontal .form-group{
        margin-left: 0px;
        margin-right: 0px;
    }

    #direction h2{
        margin-top: 50px;
    }
}
                                                    /*Phone*/                                                    
/*                                                  RESPONSIVE */
/*                                                  Contact     Page                    */