@import "normalize.css";
.phone{
    display: none;
}
.slick-next::before {
    background: url('../img/right.png') no-repeat;
    content: "";
    display: block;
    height: 24px;
    width: 24px;
}
.slick-prev::before {
    background: url('../img/left.png') no-repeat;
    content: "";
    display: block;
    height: 24px;
    width: 24px;
}

*{
    font-family: Montserrat,sans-serif;
}

body{
    overflow-x: hidden;
}

p{
    text-align: justify;
}

h1{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 4vh;
}

section{
    padding-top: 3%;
}

#header{
    height: 100px;
    width: 100%;
}

.navigation{
    display: inline-block;
    text-align: center;
    width: 19%;
    font-size: 25px;
}

ul[id="container-navigation"]{
    display: inline-block;
    width: 100%;
}

li[class*="navigation"]{
    list-style: none;
    position: relative;
    bottom: 32px;
}

li[class*="navigation"] > a{
    color: #0d8642;
}

.drop-nav{
    width: 98%;
    font-size: 20px;
    margin: 0px 0px;
}
.dropdown-menu{
    left: 20%;
}
.dropdown-menu>li>a{
    color: #0d8642;
}

.drop-nav >a{
    color: #0d8642;
}

#logo-container{
    width: 19%;
    bottom: 0px;
}

#logo-container >a >img{
    position: relative;
    z-index: 2;
    height: 160px;
    left: 3.3%;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: #0d8642;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.banner{
    padding: 0px;
}

.banner > img{
    width: 100%;
}

.title{
    color: #0d8642;
    font-weight: bold;
}

#green-line{
    background-color: #0d8642;
    height: 2px;
    width: 85%;
    margin-top: 80px;
}

.slick-prev:before, .slick-next:before{
    color: #0d8642;
}

footer{
    padding-top: 50px;
}

#largeImg{
    position: relative;
    bottom: 10vh;
    height: 200px;
}

#rights{
    height: auto;
    background-color: #0d8642;
    width: 100%;
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#rights  p{
    text-align: center;
    color: #ffffff;;
    padding-top: 10px;
}

#direction li{
    list-style: none;
}

/*                                                  RESPONSIVE */
                                                    /*Phone*/   
                                                    
@media only screen and (min-width:320px) and (max-width:700px){
    .navigation{
        text-align: left;
        width: 100%;
    }
    .navbar-default .navbar-nav>.open>a {
        box-shadow      : none;
        background-image: none;
        padding-bottom  : 0px;
    }
     .navbar-brand {
        padding: 0px;
        float: none;
        position: absolute;
        left: calc(50% - 65px);
        z-index: 3;
        height: 130px;
        top: 15px;
    }
    
    .navbar-right{
        padding-right: 22%;
    }
    
    .navbar{
        margin-bottom: 0px;
    }
    
    .navbar-default .navbar-nav > li > a{
        color: #0d8642;
        padding-right: 58px;
    }
    
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        background-color: transparent;
        color: #0d8642;
    }
    
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
        background-color: #ffffff;
        color           : #0d8642;
    }
    
    .navigation{
        font-size    : 3vh;
        padding-right: 15px;
        padding-left : 15px;
        padding-top  : 2.5vh;
    }
    #left-part{
        padding-left: 12.5%;
    }
    
    #right-part{
        padding-right: 25%;
    }
    
    .dropdown-menu{
        left     : 3.3vh;
        min-width: 122px;
    }
    
    .dropdown-menu>li>a{
        color    : #0d8642;
        font-size: 1.7vh;
    }
    
    .navbar-nav>li>.dropdown-menu{
        margin-top: 10px;
    }
    
    .phone{
        display: block;
    }

    .desktop{
        display: none;
    }
    #header{
        height: auto;
    }
    #left-part{
        padding-left: 0px;
    }

    .navbar-toggle{
        float: none;
        padding-left: 5%;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #0d8642;
        font-size: 2.5vh;
        padding: -1px 19px -1px 19px;
    }
    .navbar-default .navbar-toggle .icon-bar{
    background-color: #0d8642;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
        background: #ffffff;
    }
    .navbar-default .navbar-toggle{
        border-color: #ffffff;
    }

    .navbar-default .navbar-collapse{
        background-color: white;
        position: absolute;
        z-index: 2;
        width: 104%;
        left:1px;
    }
    .banner > img{
        height: 70vh;
    }
    .title{
        margin-top: 10%;
    }

    .banner > img{
        width: 100%;
    }
    #largeImg{
        position: static;
        padding-bottom: 10%;
        margin-top: 7vh;
    }
    #rights{
        height: auto;
        padding-right: 15px;
        padding-left: 15px;
    }

    .img-responsive{
        height: 30vh;
    }

    #direction h2{
        margin-top: 0px;
    }

    li[class*="navigation"]{
        list-style: none;
        position: static;
        bottom: 32px;
    }


}                                                    
                                                    /*Phone*/

                                                    /*Tablet*/
 @media only screen and (orientation: portrait)  and  (min-width: 768px) and (min-height:1024px) {

    li[class*="navigation"]:nth-child(2){
        width:19%;
    }
    #largeImg {
        position: static;
        padding-bottom: 5vh;
        margin-top: 5vh;
    }
}

@media only screen and (orientation: landscape)  and  (min-width:1024px ) and (min-height:768px)  {
    
    li[class*="navigation"]:nth-child(2){
        width:19%;
    }
}

@media only screen and (orientation: portrait)  and  (min-width:1280px ) and (min-height:800px)  {
    
    i[class*="navigation"]:nth-child(2){
        width: 30%;
    }

    .col-lg-offset-9 {
        margin-left: 76.5%;
    }
}

@media only screen and (orientation: portrait)  and  (min-width:1024px ) and (min-height:1336px)  {
    #largeImg{
        position: relative;
        padding-bottom: 0px;
    }
} 
                                                                                                                                                            
                                                    /*Tablet*/                                                    
                                                    /*Desktop*/                                                   
@media only screen and (min-width: 1280px) and (min-height:1024px)  {
    .navigation{
        display: inline-block;
        text-align: center;
        width: 19%;
        font-size: 25px;
    }
    
    ul[id="container-navigation"]{
        display: inline-block;
        width: 100%;
    }
    
    li[class*="navigation"]{
        list-style: none;
        position: relative;
        bottom: 32px;
    }
    
    li[class*="navigation"] > a{
        color: #0d8642;
    }
    
    .drop-nav{
        width: 98%;
        font-size: 20px;
        margin: 0px 0px;
    }
    
    .dropdown-menu>li>a{
        color: #0d8642;
    }
    
    .drop-nav >a{
        color: #0d8642;
    }
    
    #logo-container{
        width: 19%;
        bottom: 0px;
    }
    
    #largeImg{
        bottom: 4vh
    }
}

@media only screen and (min-width: 1366px) and (min-height:768px)  {
    .navigation{
        display: inline-block;
        text-align: center;
        width: 19%;
        font-size: 25px;
    }
    
    ul[id="container-navigation"]{
        display: inline-block;
        width: 100%;
    }
    
    li[class*="navigation"]{
        list-style: none;
        position: relative;
        bottom: 32px;
    }
    
    li[class*="navigation"] > a{
        color: #0d8642;
    }
    
    .drop-nav{
        width: 98%;
        font-size: 20px;
        margin: 0px 0px;
    }
    
    .dropdown-menu>li>a{
        color: #0d8642;
    }
    
    .drop-nav >a{
        color: #0d8642;
    }
    
    #logo-container{
        width: 19%;
        bottom: 0px;
    }
    
    #largeImg{
        bottom: 7vh
    }
}
                                                    
@media only screen and (min-width: 1440px) and (min-height:900px) {
    #logo-container >a >img {
       left: 3.3%; 
    }
    #largeImg{
        bottom: 6vh;
    }
}

@media only screen and (min-width: 1600px) and (min-height:800px) {
    
    #largeImg{
        bottom: 8vh;
    }
}

@media only screen and (min-width: 1690px) and (min-height:1050px)  {
    #largeImg{
        bottom: 5vh
    }
}

@media only screen and (min-width: 1920px) and (min-height:1080px) {
    #largeImg{
        bottom: 4vh
    }
}

@media only screen and (min-width: 1920px) and (min-height:1200px) {
    .col-lg-offset-9 {
        margin-left: 76.5%;
    }
    #largeImg{
        bottom: 6vh
    }
} 
                                                    /*Desktop*/                                                    
/*                                                  RESPONSIVE */
